<ul>
    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
      <a routerLinkActive="active" routerLink="/learning">Learning</a>
      <a routerLinkActive="active" routerLink="/parent">Parent</a> 
      <a routerLinkActive="active" routerLink="/template-form">Template Form</a>
      <a routerLinkActive="active" routerLink="/form">Form</a>
      <a routerLinkActive="active" routerLink="/routeLearning">RouteLearning</a>
      <a routerLinkActive="active" routerLink="**">ErrorPage</a>
    </li>
  </ul>