<div class="content-padding">
    <h1>Template Driven Forms</h1>
<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
    <input #name = "ngModel"  required type="text" placeholder="enter name" name="name" ngModel>
    <span *ngIf= "name.invalid && name.touched">name is invalid</span>
     <input #password = "ngModel" required type="password" placeholder="enter password" name="password" ngModel>
    <span *ngIf= "password.invalid && password.touched">password is invalid</span>

    <select  #gender = "ngModel" required name="gender" ngModel>

        <option value="">Select Gender</option>
        <option value=" male">Male</option>
        <option value="female">Female</option>
    </select>
    <span *ngIf= "gender.invalid && gender.touched">gender is invalid</span>

     <input type="range" min="0" max="20" name="range" ngModel>
     <button>Add User</button>



</form>


@if(userDetails==null){
    <h1>no data</h1>
}
@else{
    name :----- {{userDetails?.name}}
    
   password :----- {{userDetails?.password}}
    
   gender : --------  {{userDetails?.gender}}
    
   range : -------{{userDetails?.range}}
    
}


</div>