<p style="font-size: 10rem;">leaning works!</p>

<h1>Counter APP</h1>
<br>

<h1>{{ x }}</h1>
<br>

<button (click)="singleFnc('inc')">+</button>
<button (click)="singleFnc('dec')">-</button>
<button (click)="singleFnc('reset')">Reset</button>

<hr>

<br>
<p>Name in input is: {{ displayName }}</p>
<br>

<input (input)="handleInput($event)" type="text" id="inputTag" placeholder="Enter your name">
<button (click)="showName()">Show Name</button>

<hr>

<h1>Input System (Easy Way of Using #id)</h1>
<br>

User email: {{ emailFrontend }}
<br>
<input type="text" #emailElement placeholder="Enter your email">
<button (click)="getEmail(emailElement.value)">Get email in console</button>
<button (click)="setEmail()">Set email on top</button>

<hr>

<h1>if else </h1>
<button (click)="toggleDiv()">Toggle Div</button>

@if (showDiv) {
<div style="background-color: yellow; border: 1px solid black; padding: 10px; margin-top: 10px; height: 100px; width: 100px;">
    <p>Hide and show div</p>
</div>
} @else {
<div style="background-color: gold; border: 1px solid black; padding: 10px; margin-top: 10px; height: 100px; width: 100px;">
    <p>Click button as div is hidden</p>
</div>
}

<hr>
<h1>Array data</h1>

@for(x of arr ; track x){
<p>{{ x }}</p>
}

<hr>
<h1>basic of signals</h1>
<p>valueof signmal --- [ {{signalVar()}} ] </p>
<button (click)="signalFnc('inc')">+</button>
<button (click)="signalFnc('dec')">-</button>

<hr>

<h1>use of contextual vaublkes $index</h1>

@for(x of ArrayNames ; track x ; let i = $index){
@if($last || $first){
<p style="background-color: red;">user index : {{ i }} - user name : {{ x }}</p>
}@else {
<p>user index : {{ i }} - user name : {{ x }}</p>
}
}

<hr>
<h1>2 way binding (if one changes other changes instantly)</h1>
<input type="text" [(ngModel)]="twoWayBinding" />
<p>this is 2 way binding :--- {{ twoWayBinding }}</p>

<hr>
<h1>todo list</h1>

<input [(ngModel)]="taskItem" type="text" placeholder="enter your task">
<button (click)="addTask()">Add task</button>

@if(TaskArr.length == 0){
<p>No task available</p>
}
@else{
@for (x of TaskArr; track x) {
<ul>
    <li>{{x.task}} ---------- <button (click)="deleteTask(x.id)">Delete</button> </li>
</ul>
}
}

<hr>

<hr>
<!-- <ul>
  <li>
    <a routerLink="/login">login</a>
    <a routerLink="/contact">contact</a>
    <a routerLink="/about">about</a>
  </li>
</ul> -->